<div class="container">
  <div class="row">
    <div class="col-12 text-center" style="margin-top: 20px">
      <mat-card style="margin: 50px 0">
        <form #form = "ngForm" (ngSubmit)="form.form.valid && ngSubmit()" novalidate>
          <h1>Sửa sách</h1>
          <mat-error>{{status}}</mat-error>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Tên</mat-label>
            <input matInput placeholder="title" name="title" [(ngModel)]="book.title" required #title="ngModel">
            <mat-error *ngIf="title?.hasError('required')">Không được bỏ trống</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Tác giả</mat-label>
            <input matInput placeholder="author" name="author" [(ngModel)]="book.author" required #author="ngModel">
            <mat-error *ngIf="author?.hasError('required')">Không được bỏ trống</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Mô tả</mat-label>
            <input matInput placeholder="description" name="description" [(ngModel)]="book.description" required #description="ngModel">
            <mat-error *ngIf="description?.hasError('required')">Không được bỏ trống</mat-error>
          </mat-form-field>
          <br>
          <mat-dialog-actions style="margin-left: 30px">
            <button class="btn btn-warning" (click)="back()" style="margin-right: 10px">Thoát</button>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </mat-dialog-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
